<div class="ui equal width form">
    <div class="fields">
        <div class="field">
            <div class="content" id="loadindexCategoria">
            </div>
        </div>
        <div class="field">
            <div class="content" id="loadindexFactor">
            </div>
        </div>
    </div>
</div>
<script>
    loadCategoria(1);
    loadFactor(1);

    function loadCategoria(id) {
        $.ajax({
            url: '@Url.Action("IndexCategoriasIzaje")',
            data: { id: id },
            type: 'POST',
            success: function (data) {
                if (data) {
                    $('#loadindexCategoria').html(data);
                }
            }
        })
    }

    function loadFactor(id) {
        $.ajax({
            url: '@Url.Action("IndexFactoresIzaje")',
            data: { id: id },
            type: 'POST',
            success: function (data) {
                if (data) {
                    $('#loadindexFactor').html(data);
                }
            }
        })
    }
</script>