<div class="ui equal width form">
    <div class="fields">
        <div class="field">
            <div class="content" id="loadindexCategoria">
                @Html.Partial("IndexCategoriasIzaje")
            </div>
        </div>
        <div class="field">
            <div class="content" id="loadindexFactor">
                @Html.Partial("IndexFactoresIzaje")
            </div>
        </div>
    </div>
</div>
<script>

    function onBeginProcessEditFactor() {
        $('#renderPages').addClass("loading");
        return true;
    }

    function onFailureProcessEditFactor() {
        $('#renderPages').removeClass("loading");
        $('#messageEditFactor').show('slow').addClass("warning").removeClass("info");
        $('#textmessageEditFactor').text("Ha ocurrido un error al procesar la solicitud");
    }

    function onSuccessProcessEditFactor(data) {
        $('#renderPages').removeClass("loading");
        if (data.result) {
            $('#messageEditFactor').show('slow').removeClass("warning").addClass("info");
            $('#textmessageEditFactor').text("Proceso Completado");
            setTimeout(function () {
                location.reload();
            }, 3000);
        } else {
            $('#messageEditFactor').show('slow').addClass("warning").removeClass("info");
            $('#textmessageEditFactor').text(data.message);
        }
    }

    function onBeginProcessEditCategoria() {
        $('#renderPages').addClass("loading");
        return true;
    }

    function onFailureProcessEditCategoria() {
        $('#renderPages').removeClass("loading");
        $('#messageEditCategoria').show('slow').addClass("warning").removeClass("info");
        $('#textmessageEditCategoria').text("Ha ocurrido un error al procesar la solicitud");
    }

    function onSuccessProcessEditCategoria(data) {
        $('#renderPages').removeClass("loading");
        if (data.result) {
            $('#messageEditCategoria').show('slow').removeClass("warning").addClass("info");
            $('#textmessageEditCategoria').text("Proceso Completado");
            setTimeout(function () {
                location.reload();
            }, 3000);
        } else {
            $('#messageEditCategoria').show('slow').addClass("warning").removeClass("info");
            $('#textmessageEditCategoria').text(data.message);
        }
    }
</script>