@using System.Data
@model DataTable

<style>
    .ui.form .fields .field .ui.input input, .ui.form .field .ui.input input {
        display: none;
        width: auto;
    }
    div.dynatable-per-page {
        display: none;
    }
    div#dynatable-search-tablesIndexEquipment.dynatable-search.ui.input.spanSearch {
        display: none;
    }
</style>

<table class="ui selectable celled table ui center aligned tablesInitial" id="tablesIndexEquipment">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in Model.Columns)
            {
                <th>@col.ColumnName</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {

                    <th>@row[col.ColumnName]</th>
                }
                <td>
                    <a href="javascript:void(0)" onclick="loadDetails('@row["Id"].ToString()')">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="ui modal fullscreen" id="modalEditCategoria">
    <div class="content" id="loadEditCategoria">
    </div>
</div>

<script type="text/javascript">
    LoadTables();
    $('#tablesIndexEquipment').dynatable({
    }).bind('dynatable:afterProcess', processingComplete);
    processingComplete();

    //$('#dynatable-query-search-tablesIndexEquipment').css("visibility", "hidden");

    var $element = $('.cardTest');
    //LoadTables();

    function viewDocument(path) {
        $('.renderImages').html('');
        $element.find($('#number').text(path));
        $element.find($('#pdfref').attr('href', path));
        //$element.find($('#type').text(type));
        $element.find($('#datefile').text("Certificado en PDF"));
        $('.renderImages').append('<div class="ui card cardTest"> ' + $element.html() + '</div>');

        $('.renderImages').show('slow');
    }

    function loadDetails(id) {
        $.ajax({
            url: '@Url.Action("EditCategoriaIzage")',
               data: { id: id},
            type: 'POST',
            success: function (data) {
                if (data) {
                    $('#loadEditCategoria').html(data);
                    $('#modalEditCategoria').modal('show');
                }
            }
        })
    }
</script>