<style>
    .colorClass {
        color: #008c5a !important;
    }
</style>

@{ ViewBag.Title = "Login"; Layout = "~/Views/Shared/_LayoutLogin.cshtml"; } @using (Ajax.BeginForm("ValidateLogin", "Account", null, new AjaxOptions() { OnBegin = "OnBeginLogin()", OnSuccess = "OnSuccessLogin(data)", OnFailure = "OnError(xhr)", HttpMethod = "POST" }, new { @id = "formLogin" }))
{


    <div class="ui equal width form">
        <div class="fields">
            <div class="field">
                <select name="cbxlanguage" id="cbxlanguage" onchange="detectChange(this)" style="color: #008c5a;">
                    <option lang="na" value="selectL" selected>Seleccione idioma</option>
                    <option lang="de" value="english">English</option>
                    <option lang="en" value="spain">Español</option>
                    <option lang="it" value="italiano">Italiano</option>
                    <!-- other language options -->
                </select>
            </div>
            <div class="field">
                @Html.DropDownList("cbxCountry", (SelectList)ViewBag.CountryDictionary, new { @class = "ui search dropdown colorClass" })
            </div>

        </div>
        <div class="fields">

            <div class="field">
                <div class="ui right icon input">
                    <input type="text" name="nameUser" id="nameUser" data-validate="nameUser" placeholder="Usuario" autocomplete="off" style="width:202px;color:#008c5a !important;">
                    <i class="user secret icon"></i>
                </div>
            </div>
            <div class="field">
                <div class="ui right icon input">
                    <input type="password" name="password" id="password" placeholder="Contraseña" autocomplete="off" style="width: 202px; color: #008c5a !important;">
                    <i class="lock icon"></i>
                </div>
            </div>

        </div>


        <div class="six wide tablet eight wide computer column center" style="text-align: center;">
            <button class="ui primary button" id="btnIniciarSesion" type="submit">
                <i class="icon user">
                </i>Iniciar Sesión
            </button>
        </div>

    </div>
    @*<div class="ui warning message very container" id="messageResultLogin" style="text-align:center"></div>*@
    }

<script type="text/javascript">

    var message = '<div class="header" >¡!</div>{message}';
    $(function () {
        $('#messageResultLogin').hide();
    });
    $('#formLogin').form({
        fields: {
            nameUser: {
                identifier: 'nameUser',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Debe ingresar un valor para el Nombre de Usuario'
                    },

                ]
            },
            password: {
                identifier: 'password',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Debe ingresar un valor para la Contraseña'
                    },
                    {
                        type: 'minLength[3]',
                        prompt: 'La contraseña debe tener mínimo 3 caracteres'
                    }
                ]
            }
        }
        , inline: true,
        on: 'blur',
        onInvalid: function (evt) {
            $('#messageResultLogin').hide();
        }
    }
    );
    ;

    function detectChange(selectOS) {
        if (selectOS.value == "italiano") {
            $('#user').html("Nome utente");
            $('#pass').html("Parola d'ordine");
            $('#pais').html("Paese");
            $('#btnIniciarSesion').html("Invia");
            $('#seleccioneidi').html("Seleziona una lingua");

        }
        else if (selectOS.value == "english") {
            $('#user').html("User Name");
            $('#pass').html("Password");
            $('#pais').html("Country");
            $('#btnIniciarSesion').html("Submit");
            $('#seleccioneidi').html("Select a language");
        }
        else if (selectOS.value == "spain") {
            $('#user').html("Usuario");
            $('#pass').html("Contraseña");
            $('#pais').html("País");
            $('#btnIniciarSesion').html("Iniciar sesión");
            $('#seleccioneidi').html("Seleccione idioma");
        }

        console.log()
    }
    function OnBeginLogin() {
        $('#messageResultLogin').hide();
        $.LoadingOverlay("show", {
            image: "",
            fontawesome: "fa fa-spinner fa-pulse",
            backgroundColor: "rgba(14, 12, 12, 0.7)",
            color: "rgba(255, 255, 255, 0.8)"

        });
    }
    function OnError(xhr) {
        setTimeout(function () {
            $.LoadingOverlay("hide");
            $('#messageResultLogin').html(message.replace("{message}", "Ha ocurrido un error")).addClass("warning").removeClass("info").show("slow");
        }, 2000);

    }
    function OnSuccessLogin(data) {
        $.LoadingOverlay("hide");
        if (data.result) {
            $('#messageResultLogin').html(message.replace("{message}", data.message)).addClass("info").removeClass("warning").show("slow");
            setTimeout(function () {
                location.href = data.url;
            }, 3000)
        } else {
            $('#messageResultLogin').html(message.replace("{message}", data.message)).addClass("warning").removeClass("info").show("slow");
        }
    }</script>
