<h3 class="titlesPages">
    PROGRAMA ALTURAS | CREAR FICHAS TECNICAS
</h3>
@using (Ajax.BeginForm("CreateTechInfo", "Inspections", null, new AjaxOptions()
{
    HttpMethod = "POST",
    OnBegin = "return onBeginCreateFeature()",
    OnSuccess = "onSuccessCreateFeature(data)",
    OnFailure = "onFailureCreateFeature()",
}, new { @id = "formProcessCreateFeature" }))
{
    <div class="ui equal width form">
        <div class="fields">
            <div class="field">
                <label>Sede</label>
                @Html.DropDownList("cbxHeadquarter", (SelectList)ViewBag.HeadquarterDictionary, "[-Seleccione una opción-]", new { @class = "ui search dropdown" })
            </div>
            <div class="field">
                <label>Categoria</label>
                @Html.DropDownList("cbxCategory", (SelectList)ViewBag.CategoryDictionary, "[-Seleccione una opción-]", new { @class = "ui search dropdown" })
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <label>Elemento</label>
                <select id="cbxElement" name="cbxElement" class="ui search dropdown">
                    <option value="">[-Seleccione una Opción-]</option>
                </select>
            </div>
            <div class="field">
                <label>Marca</label>
                <input type="text" id="mark" name="mark" placeholder="Marca" autocomplete="off" maxlength="50">
            </div>
        </div>
        <div class="fields">
           <div class="field">
                <label>Modelo</label>
                <input type="text" id="model" name="model" placeholder="Modelo" autocomplete="off" maxlength="50">
            </div>
            <div class="field">
                <label>Observaciones</label>
                <input type="text" id="obser" name="obser" placeholder="Observaciones" autocomplete="off" maxlength="50">
            </div>
        </div>
    </div>
}
<div class="ui equal width form">
    <div class="fields">
        <div class="field">
            <label>Archivo</label>
            <form action="@Url.Action("UploadFile")" method="POST" class="dropzone" id="file">
                <input type="hidden" name="type" value="file" />
            </form>
            <div class="ui floating message info" style="width: 50%; margin-left: 25%; margin-right: 25%; text-align: center;display:none" id="messageFile">
                <div class="header">
                    Atención
                </div>
                <p>El archivo ya ha sido registrado en nuestro sistema, al guardar se finalizará el proceso</p>
            </div>
        </div>
    </div>
</div>
<button class="ui primary button" id="btnGuardar">
    Guardar
</button>
<div class="ui floating warning message" style="width:50%;margin-left:25%;margin-right:25%;text-align:center;display:none" id="messageCreateFeature">
    <div class="header">
        Atención
    </div>
    <p id="textmessageCreateFeature"></p>
</div>

<script type="text/javascript">
    $('#cbxCategory').on('change', function () {
        var html = '<option value="">[-Seleccione una opción-]</option>';
        var value = $('#cbxCategory option:selected').val();
        $.ajax({
            data: { idCategory: value },
            url: '@Url.Action("GetElementByCategory")',
            type: 'POST',
            success: function (data) {
                if (data.result) {
                    $.each(data.data, function (index, value) {
                        html = html + ' <option value="' + index + '">' + value + '</option>';
                    });
                    $('#cbxElement').dropdown('clear');
                    $('#cbxElement').html(html);
                }
            }
        });
    });
   

    $('#messageCreateFeature').hide();
    var myDropzoneFile;
    var idVariedad;
    var _thisFile;
    var countFile = 0;
    $("#file").dropzone({
        autoProcessQueue: false,
        addRemoveLinks: true,
        maxFiles: 1,
        acceptedFiles: ".docx,.xlsx,.pdf",
        init: function () {
            myDropzoneFile = this; // closure
            this.on("addedfile", function (file) {
                var re = /(?:\.([^.]+))?$/;
                var ext = re.exec(file.name)[1];
                ext = ext.toUpperCase();
                _thisFile = this;
                if (ext == "DOCX" || ext == "XLSX" || ext == "PDF") {
                } else {
                    _thisFile.removeFile(file);
                }
            });
            this.on("removedfile", function (file) {
            });
            this.on("success", function (file, data, response) {
                if (data.result) {
                    countFile = countFile + 1;
                    _thisFile.removeFile(file);
                    if (myDropzoneFile.files.length == 0) {
                        $('#messageFile').show();
                        $('#formProcessCreateFeature').submit();
                    }
                } else {
                    alert("A ocurrido un eror");
                    console.warn(data.message);
                }
            });
            this.on("uploadprogress", function (file) {
                $('.btnEliminar').attr('disabled', true);
            });
            this.on("error", function (xhr) {
                $('.btnEliminar').attr('disabled', false);
                console.warn(xhr);
            });
            this.on("maxfilesexceeded", function (file) {
                this.removeFile(file);
            });
        }
    });
    $('#formProcessCreateFeature').form({
        fields: {
            cbxHeadquarter: {
                identifier: 'cbxHeadquarter',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Debe elegir una sede'
                    },
                ]
            },
            cbxCategory: {
                identifier: 'cbxCategory',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Debe elegir una categoria'
                    },
                ]
            },
            cbxElement: {
                identifier: 'cbxElement',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Debe elegir un elemento'
                    },
                ]
            },
            mark: {
                identifier: 'mark',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Debe escribir una marca'
                    },
                ]
            },
        }, inline: true,
        on: 'blur'
    });
    $('#btnGuardar').on('click', function () {
        $('#formProcessCreateFeature').submit();
    });
    function onBeginCreateFeature() {
        if (countFile == 0) {
            if (myDropzoneFile.files.length == 0) {
                alert("Debe seleccionar el archivo a cargar");
                return false;
            } else {
                $('#renderPages').addClass("loading");
                myDropzoneFile.processQueue();
                return false;
            }
        }
    }
    function onFailureCreateFeature() {
        $('#renderPages').removeClass("loading");
        $('#messageCreateFeature').show('slow').addClass("warning").removeClass("info");
        $('#textmessageCreateFeature').text("Ha ocurrido un error al procesar la solicitud");
    }

    function onSuccessCreateFeature(data) {
        $('#renderPages').removeClass("loading");
        if (data.result) {
            $('#messageCreateFeature').show('slow').removeClass("warning").addClass("info");
            $('#textmessageCreateFeature').text("Proceso Completado");
        } else {
            $('#messageCreateFeature').show('slow').addClass("warning").removeClass("info");
            $('#textmessageCreateFeature').text(data.message);
        }
    }
</script>
