
@using WebApplication1.Models;
@{
    var session = Session["SessionUser"] as SessionModels;
}

@if (session.Idioma == "italiano")
{
<h3 class="titlesPages">PROGRAMMA ANTICADUTA | PROGRAMMA ALTEZZE | PROCEDURE</h3>
}
else if (session.Idioma == "spain")
{
    <h3 class="titlesPages">PROGRAMA DE PROTECCIÓN CONTRA CAÍDAS | PROGRAMA ALTURAS | PROCEDIMIENTOS</h3>
}
else if (session.Idioma == "english")
{
<h3 class="titlesPages">FALL PROTECTION PROGRAM | HEIGHTS PROGRAM | PROCEDURES</h3>
}

@using (Ajax.BeginForm("SearchProceduresT", "Inspections", null, new AjaxOptions()
{
    HttpMethod = "POST",
    OnBegin = "onBeginProcessSearch()",
    OnSuccess = "onSuccessProcessSearch(data)",
    OnFailure = "onFailureProcessSearch()",
}, new { @id = "formProcessSearch" }))
{
   if (session.Idioma == "italiano")
    {
        <div class="ui equal width form">
            <div class="fields">
                <div class="field">
                    <label>Locali</label>
                    @Html.DropDownList("cbxHeadquarter", (SelectList)ViewBag.HeadquarterDictionary, "[-Seleziona un'opzione-]", new { @class = "ui search dropdown" })
                </div>
            </div>
            <button class="ui primary button">
                Ricerca
            </button>
        </div>
    }
    else if (session.Idioma == "spain")
    {
        <div class="ui equal width form">
            <div class="fields">
                <div class="field">
                    <label>Sede</label>
                    @Html.DropDownList("cbxHeadquarter", (SelectList)ViewBag.HeadquarterDictionary, "[-Seleccione una opción-]", new { @class = "ui search dropdown" })
                </div>
            </div>
            <button class="ui primary button">
                Buscar
            </button>
        </div>
    }
    else if (session.Idioma == "english")
    {
        <div class="ui equal width form">
            <div class="fields">
                <div class="field">
                    <label>Headquarter</label>
                    @Html.DropDownList("cbxHeadquarter", (SelectList)ViewBag.HeadquarterDictionary, "[-Select an option-]", new { @class = "ui search dropdown" })
                </div>
            </div>
            <button class="ui primary button">
                Search
            </button>
        </div>
    }




    <div id="renderSearchProcedure"></div>
}

<script type="text/javascript">

    $('#formProcessSearch').form({
        fields: {
            cbxHeadquarter: {
                identifier: 'cbxHeadquarter',
                rules: [{
                    type: 'empty',
                    prompt: 'Debe seleccionar una opción'
                }]
            },

        }, inline: true,
        on: 'blur'
    });

    function onBeginProcessSearch() {
        $('#renderPages').addClass("loading");
        $('#renderSearchProcedure').empty();
    }
    function onFailureProcessSearch() {
        $('#renderPages').removeClass("loading");
        $('#messageCreate').show('slow').addClass("warning").removeClass("info");
        $('#textmessageCreate').text("Ha ocurrido un error al procesar la solicitud");
    }

    function onSuccessProcessSearch(data) {
        $('#renderPages').removeClass("loading");
        $('#renderSearchProcedure').html(data);
    }

</script>

