@using System.Data
@model DataTable

<table class="ui selectable celled table ui center aligned tablesInitial" id="tablesIndexEquipment">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in Model.Columns)
            {
                if (col.ColumnName == "#" || col.ColumnName == "Asignado" || col.ColumnName == "Curso" || col.ColumnName == "Fecha curso" || col.ColumnName == "Estado" || col.ColumnName == "Vigencia")
                {
                    <th>@col.ColumnName</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    if (col.ColumnName == "#" || col.ColumnName == "Asignado" || col.ColumnName == "Curso" || col.ColumnName == "Fecha curso" || col.ColumnName == "Estado" || col.ColumnName == "Vigencia")
                    {
                        <th>@row[col.ColumnName]</th>
                    }
                }
                <td>
                    <a href="javascript:void(0)" onclick="cargarElement('@Url.Action("EditEquipmentIzage",new { @id=row["#"].ToString()})')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>